body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #333;
  color: rgb(15, 188, 236);
}

/* Header styles */
.header {
  background-color: rgb(1, 0, 5); /* Header background color */
  padding: 10px; /* Header padding */
  border-bottom: 2px solid #666; /* Border bottom for the header */
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center items vertically */
}

.header .container {
  max-width: 1200px;
  margin: 0 auto;
  display:flex;
  justify-content: space-between; /* Space between logo and text */
  align-items: center; /* Center items vertically */
  width: 80%; /* Take full width */
}

.header .logo img {
  max-width: 80px; /* Adjust logo size as needed */
}

/* Navbar styles */
.navbar {
  /* Navbar background color */
  padding: 20px 0;
}

.navbar .container {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar .nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar .nav-links li {
  display: inline-block;
  margin-right: 20px;
}

.navbar .nav-links li:last-child {
  margin-right: 0; /* Remove margin for the last item */
}

.navbar .nav-links a {
  text-decoration: none;
  color: rgb(15, 188, 236);
  transition: color 0.3s;
}

.navbar .nav-links a:hover {
  color: #f0f4f5; /* Change color on hover */
}

.contact-form {
  width: 60%;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #f0f4f5;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-sizing: border-box;
}

.contact-form button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: rgb(15, 188, 236);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button[type="submit"]:hover {
  background-color: #444;
}

#formResult {
  margin-top: 10px;
}
.footer {
  /* footer styles */
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000; /* Footer background color */
  padding: 10px 0;
  text-align: center;
}